<div class="container">
    <div class="col-md-12 settings-card">
        <div class="row">
            <div class="col-md-4">
                <h4>Список объектов</h4>
            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Поиск" ng-model="searchObj">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-right">
                <a href="#/add-object" class="btn btn-success">Добавить объект</a>
            </div>
        </div>
        <hr>
        <table class="table">
            <thead>
            <tr class="obj-list-header">
                <th></th>
                <th>
                    <a href="#/object-list" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                        Название
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="object in objects | orderBy:sortType:sortReverse | filter:searchObj">
                <td>
                    <div class="img-thumb img-circle" style="background-image: url('{{object.image}}')"></div>
                </td>
                <th>{{ object.title }}</th>
                <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>